:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;

    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;

    --trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --indent-col: 24px;
    --items: 1;
    --indent-row: 72px;
}

/* #region BASIK SETUP */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1158px) {}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    font-weight: 500;
    color: var(--navy-blue);
    text-decoration: none;
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    background: var(--iris);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 96px 0;

    @media only screen and (min-width: 1158px) {
        padding: 120px 0;
    }
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

    @media only screen and (min-width: 1158px) {
        padding: 0 15px;
    }
}

.soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.soc-icon {
    fill: var(--cloud);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--indent-col);
    row-gap: var(--indent-row);
    justify-content: center;

    @media only screen and (min-width: 768px) {
        --items: 2;
        --indent-row: 64px;
    }

    @media only screen and (min-width: 1158px) {
        --items: 4;
    }
}

.card {
    width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
    flex-grow: 0;
}
/* #endregion */

/* #region HEADER */
.start{
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08);
}

.start-container {
    padding-top: 16px;
    padding-bottom: 16px;

    @media only screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.start-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--iris);
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-header {
    color: var(--navy-blue);
}

.start-menu {
    display: none;

    @media only screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    align-items: center;
    }
}

.start-menu-link {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.start-menu-link::after {
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: '';
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.start-menu-link:hover,
.start-menu-link:focus,
.start-menu-link:active,
.start-addr-link:hover,
.start-addr-link:focus,
.start-addr-link:active {
    color: var(--ocean);

}

.start-menu-link:hover:after,
.start-menu-link:focus:after,
.start-menu-link:active:after {
    background: var(--ocean);
}

.start-addr {
    font-style: normal;
    display: none;
    
    @media only screen and (min-width: 768px) {
    display: block;
    }
}

.start-addr-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @media only screen and (min-width: 1158px) {
    flex-direction: row;
    gap: 40px;
    }
}

.start-addr-link {
    font-weight: 400;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region MOBILE MENU */
.no-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
}

.open-mob-menu {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;

    @media only screen and (min-width: 768px) {
        display: none;
    }
}

.mob-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 72px;
    background-color: var(--white);
    overflow: hidden;
    transform: translateX(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;

    @media only screen and (min-width: 768px) {
        display: none;
    }
}

.menu-open {
    transform: translatex(0);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border;
}

.close-btn-icon {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mob-menu-item {
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.active {
    color: var(--ocean);
}

.mob-contacts-list {
    margin-bottom: 48px;
}

.mob-contacts-link {
    font-size: 20px;
    line-height: 1.2;
}

.mob-contacts-item:first-child {
    color: var(--iris);
    margin-bottom: 24px;
}

.mob-socials-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mob-socials-item {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--iris);
}

.mob-socials-item:hover,
.mob-socials-item:focus,
.mob-socials-item:active {
    background-color: var(--green);
}

.mob-socials-icon {
    fill: var(--white);
}

/* #endregion */

 /* #region MODAL */
 .modal-overlay {
     background: var(--navy-blue-modal);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 999;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     pointer-events: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-overlay.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    height: 623px;
    transition-property: transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media only screen and (min-width: 768px) {
        width: 408px;
        height: 584px;
    }

    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: var(--trns);
    transition-property: transform;
    padding: 72px 16px 24px;

    @media only screen and (min-width: 768px) {
        padding: 72px 24px 24px;
    }
 }

 .close-btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     background: var(--cornflower);
     border: 1px solid rgba(0, 0, 0, 0.1);
     padding: 0;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .close-btn-icon {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .close-btn:hover,
 .close-btn:focus {
     background-color: var(--ocean);
     fill: var(--white);
     border: none;
 }

 .btn-form-send:hover,
 .btn-form-send:focus {
     background-color: var(--ocean);
 }

 .modal-text {
     color: var(--navy-blue);
     font-weight: 500;
     text-align: center;
     margin-bottom: 16px;
 }

 .form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .field-wrapper {
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .field-wrapper:not(:last-of-type) {
     margin-bottom: 8px;
 }

 .input-label {
     font-size: 12px;
     font-weight: 400;
     line-height: 1.17;
     letter-spacing: 0.04em;
     margin-bottom: 4px;
     color: var(--light-slate);
 }

 .input-wrapper {
     position: relative;
 }

 .input-field {
     width: 100%;
     height: 40px;
     padding-left: 38px;
     border-radius: 4px;
     border: 1px solid var(--navy-blue-modal);
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .input-field:hover,
 .input-field:focus {
     border-color: var(--iris);
 }

 .input-icon {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 16px;
     fill: var(--navy-blue);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .input-wrapper:has(.input-field:focus) .input-icon,
 .input-wrapper:has(.input-field:hover) .input-icon {
     fill: var(--iris);
 }

 .text-field {
     width: 100%;
     height: 120px;
     padding: 8px 16px;
     border-radius: 4px;
     border: 1px solid var(--navy-blue-modal);
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--navy-blue-modal);
     background-color: transparent;
     resize: none;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .text-field:hover,
 .text-field:focus {
     border-color: var(--iris);
 }

 .privacy-agreement {
     display: flex;
     align-items: center;
     margin-right: auto;
     user-select: none;
     margin-bottom: 24px;
 }

 .privacy-text {
     font-size: 12px;
     font-weight: 400;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: var(--light-slate);
 }

 .privacy-link {
     text-decoration: underline;
     color: var(--iris);
 }

 .form-btn {
     min-width: 169px;
     height: 56px;
     padding: 16px 32px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     background-color: var(--iris);
     color: var(--white);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: none;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: background-color;
 }

 .modal-form-checkbox {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     fill: transparent;
     width: 16px;
     height: 16px;
     margin-right: 8px;
     border-radius: 2px;
     border: 1px solid var(--navy-blue-modal);
     cursor: pointer;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: border, background-color, fill;
 }

 .privacy-checkbox:checked+.privacy-text .modal-form-checkbox {
     border: none;
     background-color: var(--ocean);
     fill: var(--cloud);
 }

 .modal-form-checkbox-icon {
     opacity: 0;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: opacity;
 }

 .privacy-checkbox:checked+.privacy-text .modal-form-checkbox-icon {
     opacity: 1;
     fill: var(--cloud);
 }

 .modal-form-checkbox-icon {
     opacity: 0;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: opacity;
 }

 .privacy-checkbox:checked+.privacy-text .modal-form-checkbox-icon {
     opacity: 1;
     fill: var(--cloud);
 }

 .form-btn:hover,
 .form-btn:focus {
     background-color: var(--ocean);
 }

 /* #endregion */

/* #region HERO */
.hero {
    background-color: var(--navy-blue);
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media only screen and (min-width: 768px) {
        padding: 112px 0;
    }

    @media only screen and (min-width: 1158px) {
        padding: 188px 0;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;

    @media only screen and (min-width: 768px) {
        gap: 36px;
    }

    @media only screen and (min-width: 1158px) {
        gap: 48px;
    }
}

.hero-title {
    color: var(--white);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
    text-align: center;
    max-width: 216px;

    @media only screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    }
}

.hero-btn {
    min-width: 169px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background: var(--ocean);
}
/* #endregion */

/* #region BENEFITS */
.benefits-icon {
    display: none;

    @media only screen and (min-width: 1158px) {
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    background: var(--cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    }
}

.benefits-title {
    color: var(--navy-blue);
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;

    @media only screen and (min-width: 768px) {
        text-align: left;
    }

    @media only screen and (min-width: 1158px) {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
}

.benefits-text {
    font-weight: 500;

    @media only screen and (min-width: 1158px) {
        font-weight: 400;
    }
}
/* #endregion */

/* #region TEAM */
.team {
   background-color: var(--cloud); 
}

.team-title {
    margin-bottom: 72px;
}

.team-item {
    flex-direction: column;
    border: none;
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16),
     0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    line-height: 24px;
    text-align: center;
    max-width: max-content;
}

.team-item-box {
    padding: 32px 0;
}

.team-box-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-box-text {
    margin: 8px;
}

.soc-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.soc-link:hover,
.soc-link:focus,
.soc-link:active {
    background-color: var(--ocean);
}
/* #endregion */

/* #region PORTFOLIO */
.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    row-gap: 48px;
    --items: 1;
    --indent-row: 48px;
    
    @media only screen and (min-width: 768px) {
        --items: 2;
        --indent-row: 72px;
    }

    @media only screen and (min-width: 1158px) {
        --items: 3;
        --indent-row: 48px;
    }
}

.portfolio-item {
    /* background-color: var(--white); */
    max-width: max-content;
    /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-text-wrap {
    position: relative; 
    overflow: hidden;
}

.text-wrap {
    position: absolute;
    top: 0;
    /* left: 0;
    right: 0; */
    height: 100%;
    transform: translateY(100%);
    padding: 40px 32px;
    background-color: var(--iris);
    color: var(--cloud);
    line-height: 24px;
    letter-spacing: 0.32px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16),
     0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .text-wrap,
.portfolio-item:focus .team-item {
    transform: translateY(0);
}

.portfolio-item-box {
    padding: 32px 16px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: var(--cornflower);
}

.portfolio-box-title {
    margin-bottom: 8px;
}
/* #endregion */

/* #region FOOTER */
.lower {
    padding: 100px 0;
    color: var(--cloud);
    background-color: var(--navy-blue); 
    
    @media only screen and (min-width: 768px) {
        padding-left: 108px;
    }
    
    @media only screen and (min-width: 1158px) {
        padding-left: 0;
    }
}

.lower-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }

    @media only screen and (min-width: 1158px) {
        align-items: baseline;
    }
}

.lower-box-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media only screen and (min-width: 768px) {
    margin-right: 24px;
    }
    
    @media only screen and (min-width: 1158px) {
    margin-right: 120px;
    margin-bottom: 0;
    }
}

.lower .logo {
    margin-bottom: 16px;
}

.lower-logo {
    color: var(--cloud);
}

.lower-text {
    width: 264px;
}

.socials-wrapper {
    text-align: center;

@media only screen and (min-width: 768px) {
        text-align: left;
    }

    @media only screen and (min-width: 768px) {
        margin-right: 24px;
    }

    @media only screen and (min-width: 1158px) {
        margin-right: 80px;
    }
}

.lower-title {
    font-weight: 500;
    color: var(--white);
    margin-bottom: 16px;
    text-align: center;

    @media only screen and (min-width: 768px) {
        text-align: left;
    }
}

.lower .soc-links {
    gap: 16px;
}

.lower .soc-link:hover,
.lower .soc-link:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--green);
}

.subs-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }

  @media only screen and (min-width: 1158px) {
    gap: 24px;
  }
}

.subs-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
    color: var(--white);
}

.subs-input::placeholder {
    color: var(--white);
}

.subs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-btn-icon {
    margin-left: 16px;
    fill: var(--dairy);
}

.subs-btn:hover,
.subs-btn:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--green);
}
/* #endregion */

